* {
  margin: 0;
  padding: 0;
  transition: all 300ms;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 100vh;
  background-image: url(img/back-image.jpg);
  background-position: center center;
  background-size: cover;
}

a,
li a {
  text-decoration: none;
}

p,
h1 {
  text-shadow: 5px 5px 5px black;
}

h1 {
  font-family: "Qwitcher Grypen", serif;
  font-size: 4rem;
  color: whitesmoke;
}

h2 {
  color: rgb(105, 0, 105);
  display: flex;
  align-items: center;
}

article a {
  color: purple;
}

li {
  list-style-type: none;
}

p,
button,
article {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}

p,
button a {
  color: whitesmoke;
}

main {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2rem;
}

main,
aside {
  width: 50%;
}

article {
  background-image: linear-gradient(to right, whitesmoke, rgb(122, 122, 122));
  width: auto;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 10px;
}

main,
aside {
  display: grid;
  align-items: center;
  text-align: center;
}

button {
  padding: 1rem;
  border-radius: 2rem;
  border: none;
  background-image: linear-gradient(to right, purple, rgb(59, 1, 59));
  font-size: 2rem;
  cursor: pointer;
}

button,
article {
  box-shadow: 5px 5px 10px black;
}

button:hover,
article:hover {
  opacity: 0.8;
  box-shadow: 5px 5px 20px black;
}

article:hover {
  transform: scale(110%);
}

@media screen and (max-width: 800px) {
  body {
    flex-direction: column;
    justify-content: space-around;
  }

  h1 {
    font-size: 2rem;
  }

  main,
  aside {
    width: auto;
    padding: 1rem;
  }
}
